<!-- app/views/address/_form.html.erb -->
<div id="addressModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with model: @address, url: address_index_path, local: false, remote: true do |f| %>
        <div class="modal-header">
          <h5 class="modal-title">Enter Address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Add address fields here -->
          <%= f.label :street %>
          <%= f.text_field :street, class: "form-control" %>
          
          <%= f.label :city %>
          <%= f.text_field :city, class: "form-control" %>
          
          <%= f.label :state %>
          <%= f.text_field :state, class: "form-control" %>
    
          <%= f.label :country %>
          <%= f.text_field :country, class: "form-control" %>
          
          <%= f.label :postal_code %>
          <%= f.number_field :postal_code, class: "form-control" %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Select Date</h4>
</div>
<div class="modal-body">
  <%= form_with(url: request_book_ownerships_path(book_id: @book)) do |form| %>
    <div>
      <%= form.label :return_date, style: "display: block" %>
      <%= form.date_field :return_date %>
    </div>

    <div>
      <%= form.submit "Request"%>
    </div>
  <% end %>
</div>