<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Address</h2>
          <%= form_with model: @order, url: checkout_create_path, method: :post do |form| %>
            <% if flash[:error_messages].present? %>
              <div class="error-messages">
                <% flash[:error_messages].each do |message| %>
                  <p><%= message %></p>
                <% end %>
              </div>
            <% end %>
              <%= form.label "Address:" %>
              <%= form.text_field :address, placeholder: 'Enter address', class: "form-control mt-2 mb-2" %>
              <%= form.label "Discount:" %>
              <%= form.text_field :discount_name, placeholder: 'Enter discount code', class: "form-control" %>
              <div class="text-center">
                <%= form.submit 'Checkout', class: "btn btn-primary mt-3" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
