<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <% if current_user.admin? %>
        <%= link_to "EMS", admin_products_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to "Home", admin_products_path, class: "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "List", admin_users_path, class: "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "Add Product", new_admin_product_path, class: "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "Category", admin_categories_path, class: "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "Invite User", new_user_invitation_path, class: "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "Discounts", admin_discounts_path, class: "nav-link active" %>
              </li>
              <li>
                <%= link_to "Orders", orders_index_path, class: "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link active" %>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "#{current_user.firstname} #{current_user.lastname}", edit_user_registration_path(current_user), class: "nav-link active" %>
            </li>
          </ul>
          </div>
            <% else %>
              <%= link_to "EMS", products_path, class: "navbar-brand" %>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <%= link_to "Home", root_path, class: "nav-link active" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Cart", cart_path(current_user), class: "nav-link active" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Order", orders_index_path, class: "nav-link active" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link active" %>
                  </li>
                </ul>
              </div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "#{current_user.firstname} #{current_user.lastname}", edit_user_registration_path(current_user), class: "nav-link active" %>
            </li>
          </ul>
        </div>
      <% end %>

    </div>
  </nav>
<% end %>
