
Logged in as:<%= current_user&.email %>
<% if policy(:home).index? %>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Confirmed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= user.confirmed? %></td>
        <td><%= link_to 'Edit', edit_user_registration_path %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>
<% else %>
  <h2>User</h2>
<% end %>

<%= button_to "Logout", destroy_user_session_path, method: :delete %>