<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h1 class="text-center">Categories</h1>
            </div>
          </div>
        </div>
        <div class="card-body">
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th><%= link_to "ID", admin_sort_path(column: :id, direction: @user_view.toggle_direction(:id, params[:column], params[:direction])) %></th>
                <th><%= link_to 'Name', admin_sort_path(column: :name, direction: @user_view.toggle_direction(:name, params[:column], params[:direction])) %></th>
                <th><%= link_to 'Active', admin_sort_path(column: :active, direction:  @user_view.toggle_direction(:active, params[:column], params[:direction])) %></th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @categories.each do |category| %>
                  <tr>
                    <td><%= category.id %></td>
                    <td><%= category.name %></td>
                    <td><%= category.active %></td>
                    <td><%= link_to 'View', admin_category_path(category), class: "btn btn-outline-primary" %></td>
                    <td><%= link_to 'Edit', edit_admin_category_path(category), class: "btn btn-outline-secondary"  %></td>
                    <td><%= link_to 'Delete', admin_category_path(category), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %></td>
                  </tr>
              <% end %>
            </tbody>
          </table>
          <br>
        </div>
        <%= button_to "Create Category", new_admin_category_path, method: :get, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>



