



<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h1 class="text-center">Products</h1>
            </div>
          </div>
        </div>
        <div class="card-body">
        <div class="row">

          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Status</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @product_views.each do |product| %>
                  <tr>
                    <td><%= product.title %></td>
                    <td><%= product.price %></td>
                    <td><%= product.description %></td>
                    <td><%= product.status %></td>
                    <td><%= link_to 'Show', admin_product_path(product), class: "btn btn-outline-primary" %></td>
                    <td><%= link_to 'Edit', edit_admin_product_path(product), class: "btn btn-outline-secondary"  %></td>
                    <td><%= link_to 'Delete', admin_product_path(product), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %></td>
                  </tr>
              <% end %>
            </tbody>
          </table>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>


