<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="text-center">
        <h2>User Details</h2>
      </div>
      <div class="card">
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <th>First Name:</th>
                <td><%= @user_view.firstname %></td>
              </tr>
              <tr>
                <th>Last Name:</th>
                <td><%= @user_view.lastname %></td>
              </tr>
              <tr>
                <th>Email:</th>
                <td><%= @user_view.email %></td>
              </tr>
              <tr>
                <th>Admin:</th>
                <td><%= @user_view.admin? %></td>
              </tr>
              <tr>
                <th>Confirmed:</th>
                <td><%= @user_view.confirmed? %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
